*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
}
.row{
    width: 100%;
    padding: 0 5px;
    border-bottom: 1px solid #F4F2F0;
}
.header{
    padding: 10px 0;
    text-align: center;
}
.header h1{
    text-align: center;
    margin: 0;
    height: 50px;
}
.header-title{
    display: none;
}
.header img{
    width: auto;
    height: 50px;
}
.content{
    padding-left: 15px;
    padding-right: 15px;
}
.content > *{
    max-width: 500px;
    margin: 0 auto;
}
.product-img-container{
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.product-img-container img{
    width: 130px;
    height: auto;
}
.section-label{
    display: block;
    text-align: left;
    font-weight: 900;
    font-size: 16px;
    color: rgb(75, 75, 75);
}
.section-content{
    font-size: 14px;
    color: rgb(155, 155, 155);
}
.cupon-input, .checkout-elm-row{
    margin: 25px 0;
}
.cupon-input{
    width: 100%;
}
.cupon-input input{
    width: 20px;
    height: 13px;
    cursor: pointer;
}
.cupon-input label{
    cursor: pointer;
}
.cupon-input input:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid white;
    box-shadow: 0 0 1px 1px #cecece;
}

.cupon-input input:checked:after {
    background-color: #fc6f74;
}
.cupon-input label > *{
    display: inline-block;
}
.cupon-discount{
    float: right;
}
.value{
    font-weight: 600;
}
.debit-value{
    color: #fb9295;
}
.total-value{
    font-weight: bold;
}
.checkout-elm-row{
    width: 100%;
}
.checkout-elm-row > * {
    display: inline-block;
}
.checkout-elm-row .checkout-elm-value{
    float: right;
}
.action-buttons{
    text-align: center;
    padding: 10px 0;
    border-bottom: none;
}
.action-buttons > * {
    margin: 0 5px;
    border-radius: 5px;
    padding: 15px;
    width: 180px;
    cursor: pointer;
    font-size: 14px;
}
.action-buttons #cancel-checkout-bt{
    border-top: 1.4px solid #f5f5f5;
    border-left: 1.4px solid #f5f5f5;
    border-right: 1.4px solid #f5f5f5;
    border-bottom: 3px solid #f5f5f5;
    font-weight: 900;
    color: #f87074;
    background-color: #fff;
}
.action-buttons #confirm-checkout-bt{
    border-top: 1.4px solid #db7e81;
    border-left: 1.4px solid #db7e81;
    border-right: 1.4px solid #db7e81;
    border-bottom: 3px solid #af7474;
    color: #fff;
    background-color: #fb9295;
}
@media (max-width: 420px){
    .action-buttons > * {
        width: 90%;
    }
    .action-buttons #confirm-checkout-bt{
        margin-top: 10px;
    }
}

/*alert*/
.overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7;
    position: fixed;
    z-index: 1;
}
.alert{
    min-width: 200px;
    max-width: 300px;
    height: auto;
    position: fixed;
    top: 40%;
    z-index: 2;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px 5px 20px;
}
.alert > * {
    margin-bottom: 20px;
    text-align: center
}
.alert-icon{
    font-size: 20px;
}

.alert-title{
    font-size: 18px;
    font-weight: bold;
}
.alert-text{
    font-size: 14px;
}
.alert-hide{
    display: none;
}

